.Footer{
    /* background-color: #424751; */
    color: rgb(230, 231, 222);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr{
    color: white;
}