ul{
    /* background-color: #424751; */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr{
    color: white;
}

li{
    list-style: none;
    margin: 0px 20px;
    transition: 0.5s;
}

.Navigation a{
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 22px;
    color: rgb(230, 231, 222);
    text-transform: uppercase;
    transition: all 0.3s;
}

ul:hover a{
    filter: blur(2px);
    opacity: 0.2;
}

ul a:hover{
    transform: scale(1.25);
    color: rgb(230, 231, 222);
    opacity: 1;
    filter: blur(0);
}

a:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #005350;
    transition: 0.3s;
    transform: scale(0);
    z-index: -1;
}

a:hover:before{
    transform: scale(1);
}

/* #ee5a24 */


/* #005350 */

/* #007f7b */

/* #74ba00 */

/* #f4878f */
